<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
		<style type="text/css">
			html {
				height: 100%;
			}

			body {
				height: 100%;
				margin: 0px;
				padding: 0px;
			}

			#container {
				height: 100%;
				overflow: hidden;
			}
		</style>
	</head>
	<body>
		<div id="container"></div>

		<script src="../../libs/jquery.min.js"></script>
		<script src="../../js/common.js"></script>
		<!-- 本地 -->
		<script src="https://api.map.baidu.com/api?v=3.0&ak=PRGaDCtXL9W0B7vd0Vkl4VxsLX8IhUQ7"></script>
		<script src="../../js/modules/hsHouseMap/mapData.js"></script>
		<!-- 点聚合插件 -->
		<script src="../../js/modules/hsHouseMap/TextIconOverlay_min.js"></script>
		<script src="../../js/modules/hsHouseMap/MarkerClusterer_min.js"></script>
		<!-- 线上 -->
		<!-- <script src="https://api.map.baidu.com/api?v=3.0&ak=CEP2h5GvCl2g1tnlaeT92ZOzxgQ7eqO1"></script> -->
		<script src="../../js/modules/hsHouseMap/houseMap2.js"></script>
	</body>
</html>
