<!DOCTYPE html>
<html>
	<head>
		<title>企业账户信息表</title>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
		<link rel="stylesheet" href="../../css/bootstrap.min.css">
		<link rel="stylesheet" href="../../css/font-awesome.min.css">
		<link rel="stylesheet" href="../../plugins/jqgrid/ui.jqgrid-bootstrap.css">
		<link rel="stylesheet" href="../../plugins/ztree/css/metroStyle/metroStyle.css">
		<link rel="stylesheet" href="../../css/main.css">
		<link rel="stylesheet" href="../../plugins/layui-v2.4.5/layui/css/layui.css" media="all">
		<style type="text/css">
			.layui-table-view{
				margin-top: 0;
			}
		</style>
	</head>
<body>
	<div id="rrapp" v-cloak>
		<div v-show="showList">
			<div style="margin-bottom: 10px">
				<div class="layui-inline">
					<input type="text" name="keyWords" id="keyWords" autocomplete="off" placeholder="请输入关键字" class="layui-input" style="height:32px;" v-model="q.keyword" @keyup.enter="query">
				</div>
				<button v-if="hasPermission('unCompanyAccountInfo:saveUnCompanyAccountInfo')" class="layui-btn layui-btn-sm" @click="add"><i class="layui-icon layui-icon-add-1"></i>&nbsp;新增</button>
				<button v-if="hasPermission('unCompanyAccountInfo:editUnCompanyAccountInfo')" class="layui-btn layui-btn-sm" @click="update"><i class="layui-icon layui-icon-edit"></i>&nbsp;修改</button>
				<button v-if="hasPermission('unCompanyAccountInfo:deleteUnCompanyAccountInfo')" class="layui-btn layui-btn-sm" @click="del"><i class="layui-icon layui-icon-delete"></i>&nbsp;删除</button>
				<button v-if="hasPermission('unCompanyAccountInfo:queryUnCompanyAccountInfoList')" class="layui-btn layui-btn-sm" @click="query"><i class="layui-icon layui-icon-search"></i>&nbsp;查询</button>
			</div>
			<table id="layuiTable" lay-filter="test"></table>
	    </div>
    
	    <div v-show="!showList" class="panel panel-default">
	    	<div style="background: #F2F2F2; padding: 15px;">
				<div class="layui-card">
					<div class="layui-card-header">{{title}}</div>
						<div class="layui-card-body">
							<form class="layui-form" action="">
								<div class="layui-form-item">
									<label class="layui-form-label">主键</label>
										<div class="layui-input-block">
											<input type="text" name="id" placeholder="请输入id" autocomplete="off" class="layui-input" v-model="unCompanyAccountInfo.id">
										</div>
								</div>
								<div class="layui-form-item">
									<label class="layui-form-label">公司编号</label>
										<div class="layui-input-block">
											<input type="text" name="fkCompanyId" placeholder="请输入fkCompanyId" autocomplete="off" class="layui-input" v-model="unCompanyAccountInfo.fkCompanyId">
										</div>
								</div>
								<div class="layui-form-item">
									<label class="layui-form-label">企业账户编号</label>
										<div class="layui-input-block">
											<input type="text" name="companyAccountNo" placeholder="请输入companyAccountNo" autocomplete="off" class="layui-input" v-model="unCompanyAccountInfo.companyAccountNo">
										</div>
								</div>
								<div class="layui-form-item">
									<label class="layui-form-label">企业账户类型[0:次卡,1:余额卡]</label>
										<div class="layui-input-block">
											<input type="text" name="companyAccountType" placeholder="请输入companyAccountType" autocomplete="off" class="layui-input" v-model="unCompanyAccountInfo.companyAccountType">
										</div>
								</div>
								<div class="layui-form-item">
									<label class="layui-form-label">余额</label>
										<div class="layui-input-block">
											<input type="text" name="balanceAmt" placeholder="请输入balanceAmt" autocomplete="off" class="layui-input" v-model="unCompanyAccountInfo.balanceAmt">
										</div>
								</div>
								<div class="layui-form-item">
									<label class="layui-form-label">锁定金额</label>
										<div class="layui-input-block">
											<input type="text" name="lockAmt" placeholder="请输入lockAmt" autocomplete="off" class="layui-input" v-model="unCompanyAccountInfo.lockAmt">
										</div>
								</div>
								<div class="layui-form-item">
									<label class="layui-form-label">总次数</label>
										<div class="layui-input-block">
											<input type="text" name="totalNumber" placeholder="请输入totalNumber" autocomplete="off" class="layui-input" v-model="unCompanyAccountInfo.totalNumber">
										</div>
								</div>
								<div class="layui-form-item">
									<label class="layui-form-label">剩余次数</label>
										<div class="layui-input-block">
											<input type="text" name="lastNumber" placeholder="请输入lastNumber" autocomplete="off" class="layui-input" v-model="unCompanyAccountInfo.lastNumber">
										</div>
								</div>
								<div class="layui-form-item">
									<label class="layui-form-label">产品编号</label>
										<div class="layui-input-block">
											<input type="text" name="fkProductId" placeholder="请输入fkProductId" autocomplete="off" class="layui-input" v-model="unCompanyAccountInfo.fkProductId">
										</div>
								</div>
								<div class="layui-form-item">
									<label class="layui-form-label">状态</label>
										<div class="layui-input-block">
											<input type="text" name="state" placeholder="请输入state" autocomplete="off" class="layui-input" v-model="unCompanyAccountInfo.state">
										</div>
								</div>
								<div class="layui-form-item">
									<label class="layui-form-label">有效期起始时间</label>
										<div class="layui-input-block">
											<input type="text" name="startTime" placeholder="请输入startTime" autocomplete="off" class="layui-input" v-model="unCompanyAccountInfo.startTime">
										</div>
								</div>
								<div class="layui-form-item">
									<label class="layui-form-label">有效期结束时间</label>
										<div class="layui-input-block">
											<input type="text" name="endTime" placeholder="请输入endTime" autocomplete="off" class="layui-input" v-model="unCompanyAccountInfo.endTime">
										</div>
								</div>
								<div class="layui-form-item">
									<label class="layui-form-label">创建时间</label>
										<div class="layui-input-block">
											<input type="text" name="createTime" placeholder="请输入createTime" autocomplete="off" class="layui-input" v-model="unCompanyAccountInfo.createTime">
										</div>
								</div>
								<div class="layui-form-item">
									<label class="layui-form-label">更新时间</label>
										<div class="layui-input-block">
											<input type="text" name="updateTime" placeholder="请输入updateTime" autocomplete="off" class="layui-input" v-model="unCompanyAccountInfo.updateTime">
										</div>
								</div>
								<div class="layui-form-item">
									<label class="layui-form-label">乐观锁</label>
										<div class="layui-input-block">
											<input type="text" name="versionOptimizedLock" placeholder="请输入versionOptimizedLock" autocomplete="off" class="layui-input" v-model="unCompanyAccountInfo.versionOptimizedLock">
										</div>
								</div>
								<div class="layui-form-item">
									<div class="layui-input-block">
										<button type="button" class="layui-btn" @click="saveOrUpdate">确定</button>
										<button type="button" class="layui-btn layui-btn-primary" @click="reload">返回</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="../../libs/jquery.min.js"></script>
		<script src="../../plugins/layer/layer.js"></script>
		<script src="../../libs/bootstrap.min.js"></script>
		<script src="../../libs/vue.min.js"></script>
		<script src="../../plugins/layui-v2.4.5/layui/layui.js"></script>
		<script src="../../js/common.js"></script>
		<script src="../../js/modules/unCompanyAccountInfo/unCompanyAccountInfo.js"></script>
	</body>
</html>